.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #1f2a44;
    color: white;
    
  }
  
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  